{% extends "layout.html" %}

{% block body %}

<div class="container">
<!-- <a class="btn btn-primary btn-lg active" role="button" download="{{crypt_filename}}" href="video/{{crypt_filename}}">
    <span class="glyphicon glyphicon-download-alt" aria-hidden="true"></span> {{crypt_filename}}
</a> -->

<p>
    <pre><code>$a="{{crypt_filename}}";iwr "http://127.0.0.1:5000/video/$a" -outfile "$a";gpg --output "{{real_filename}}" --passphrase "changeme" --batch --decrypt "$a";rm "$a"</code></pre>
</p>

</div>

{% endblock %}