<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>z4.io</title>
  <link href="https://bootswatch.com/4/materia/bootstrap.min.css" rel="stylesheet">
  <style type="text/css">
    body {
      padding-top: 16rem;
    }

    .starter-template {
      padding: 3rem 1.5rem;
      text-align: center;
    }

    @media (min-width: 1500px) {
    .container{
        max-width: 1400px;
    }
}
  </style>
</head>

<body>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <a class="navbar-brand" href="/">z4.io</a>
  </nav>
  <main role="main" class="container">
    {% block body %}{% endblock %}
  </main>
</body>

</html>