{% extends "layout.html" %}
{% block body %}
<form action="/dl" method="post">
    <div class="form-group">
        <label for="desturl">URL to download</label>
        <input type="text" class="form-control" name="desturl" id="desturl" placeholder="Enter a URL...">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
<script>
    url = window.location.href.replace(/(^\w+:|^)\/\/[^\/]*\//, '');
    document.getElementById('desturl').value = url;
</script>
{% endblock %}
